---
layout: default
title: Fusionborg
---
  <header id="header">
    <div class="body" id="big">
      <a href="#"><img src="image/logo.png" alt="fusionbox.org: it's what's cookin!" class="logo" />
        
      <nav id="top">
        <a href="/">HOME</a>
        <a href="/projects/">PROJECTS</a>
        <a href="/blog/">THE NERD HUB</a>
        <a href="#">CAREERS</a>
        <a href="#">CONTACT</a>
        <a href="http://www.fusionbox.com/">FUSIONBOX.COM</a>
      </nav>
    
      <span id="arrow1" class="arrow px1"></span>
      <span id="arrow2" class="arrow px2"></span>
      <span id="arrow3" class="arrow px3"></span>
      <span id="arrow4" class="arrow px5"></span>
      <span id="arrow5" class="arrow px2"></span>
      <span id="arrow6" class="arrow px4"></span>
      <span id="arrow7" class="arrow px3"></span>
      <span id="arrow8" class="arrow px1"></span>
      <span id="arrow9" class="arrow px3"></span>
      <span id="arrow10" class="arrow px2"></span>
      <span id="arrow11" class="arrow px3"></span>
      <span id="arrow12" class="arrow px3"></span>
    
      <span id="arrow13" class="arrow px4"></span>
      <span id="arrow14" class="arrow px5"></span>
      <span id="arrow15" class="arrow px4"></span>
      <span id="arrow16" class="arrow px5"></span>
      <span id="arrow17" class="arrow px1"></span>
      <span id="arrow18" class="arrow px6"></span>
      <span id="arrow19" class="arrow px4"></span>
      <span id="arrow20" class="arrow px5"></span>
      <span id="arrow21" class="arrow px6"></span>
      <span id="arrow22" class="arrow px3"></span>
      <span id="arrow23" class="arrow px6"></span>
      <span id="arrow24" class="arrow px5"></span>
      <span id="arrow25" class="arrow px6"></span>
    </div>
  </header>
  
  <section id="content">
    <div class="body">
      
      <section class="main">
      {% for post in site.categories.projects limit:2 %}
        <section class="fl">
          <h2 class="centered borderBottom pb nm">
            <a href="{{ post.url }}">
              {% if post.logo %}
              <img src="{{post.logo}}" alt="{{ post.title }}" />
              {% else %}
                {{ post.title }}
              {% endif %}
            </a>
          </h2>
          <p class="borderBottom bmb"><img class="block" src="{{post.image}}" alt="" /></p>
          <p class="bmb">{{ post.tagline }}</p>
          <p class="centered bmb"><a class="button image fixed100" href="{{ post.url }}">Learn More<img src="/image/button_arrow.png" alt="&raquo;" /></a></p>
          <p class="centered nm"><a class="button image fixed100" href="{{ post.github }}">Find it on<img src="/image/github.gif" alt="github" /></a></p>
        </section>
      {% endfor %}
      
      </section>
      
      <section class="fr">
        <h2 class="centered borderBottom pb"><a href="/blog/"><img src="image/project_hub.png" alt="The Nerd Hub" /></a></h2>
        
        {% for post in site.categories.blog limit:3%}
        <article>
          <h3><a href="{{post.url}}" class="white noline">{{ post.title }}</a></h3>
          <p class="mb">{{ post.tagline }}</p>
        </article>
        {% endfor %}
        
        <div class="hr"></div>
          
        <p class="centered nm"><a class="button" href="/blog/">More from the Nerd Hub</a></p>
        
      </section>
    </div>
  </section>
