<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css?ver=1.0.0" />
  <link rel="stylesheet" type="text/css" href="/css/common.css?ver=1.0.0" />
  <link rel="stylesheet" type="text/css" href="/css/fusionborg.css?ver=1.0.0" />
  
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <link rel="stylesheet" type="text/css" href="css/ie.css?ver=1.0.0" />
  <![endif]-->

  <script src="/js/jquery.min.js?ver=1.6.4"></script>  
  <script src="/js/jquery.inview.js"></script>
  <script src="/js/jquery.scrollParallax.js"></script>
  <script src="/js/fusionborg.js?ver=1.0.0"></script>
  
  <link rel="icon" href="image/favicon.ico" type="/image/x-icon" />
  <link rel="shortcut icon" href="image/favicon.ico" type="/image/x-icon" />

</head>

<body>

  {{ content }}
  
  <section id="footer">
    
    <div class="body dktextshadow">
      <section class="fr">
        <h4 class="centered bmb">LET'S VISIT!</h4>
        <p class="centered arvo nm" style="font-size:119px;line-height:92px;">2031</p>
        <p class="centered arvo nm" style="font-size:40px;line-height:41px;">Curtis Street</p>
        <p class="centered arvo nm" style="font-size:28px;line-height:30px;">Denver, CO 80205</p>
        <p class="centered arvo bmb" style="font-size:25px;line-height:30px;"><a class="white" href="mailto:info@fusionbox.org">info@fusionbox.org</a></p>
        <p class="centered">
          <a href="#"><img src="/image/social_fb.png" alt="facebook" class="sml smr" /></a>
          <a href="#"><img src="/image/social_tw.png" alt="twitter" class="sml smr" /></a>
          <a href="#"><img src="/image/social_in.png" alt="linkedin" class="sml smr" /></a>
        </p>
      </section>
      <section class="fl">
        <h4 class="centered bmb">LET'S RAP!</h4>
        <p class="centered"><input type="text" name="" id="" value="" placeholder="Name" /></p>
        <p class="centered"><input type="text" name="" id="" value="" placeholder="Email or Phone" /></p>
        <p class="centered"><textarea name="" id="" placeholder="Comment"></textarea></p>
        <p class="centered"><input type="submit" name="" id="" value="Submit" /></p>
      </section>
      <section class="fl middle">
        <h4 class="centered bmb">LET'S WORK!</h4>
        <p class="medium">Photo booth single-origin coffee voluptate 8-bit, incididunt ullamco ethical nesciunt salvia freegan. </p>
        <p class="medium">VHS officia put a bird on it, terry richardson freegan 8-bit proident ex sapiente wes anderson vice duis. Velit est placeat nihil elit, in mcsweeney's cliche lomo aliquip leggings marfa.</p>
      </section>
    </div>
    
  </section>
  
  <img id="footerImage" src="/image/photo.jpg" alt="" />

</body>
</html>
