---
layout: default
---
  <header id="header">
    <div class="body" id="internal">
      <a href="/"><img src="/image/logo.png" alt="fusionbox.org: it's what's cookin!" class="logo" />
        
      <nav id="top">
        <a href="/">HOME</a>
        <a href="/projects/">PROJECTS</a>
        <a href="/blog/">THE NERD HUB</a>
        <a href="#">CAREERS</a>
        <a href="#">CONTACT</a>
        <a href="http://www.fusionbox.com/">FUSIONBOX.COM</a>
      </nav>
    </div>
  </header>
  
  <section id="content">
    <div class="body">
      
      <section class="main fl">
        <p class="breadcrumb">Home // {{ page.categories|capitalize }} // {{ page.title }}</p>
        <h1>
          {% if page.logo %}
          <img src="{{page.logo}}" alt="{{page.title}}" />
          {% else %}
          {{ page.title }}
          {% endif %}
        </h1>
        <h2 class="author">{{ page.author }}</h2>
        <div class="html default">
          {{ content }}
          </ul>        
        </div>
        {% if page.github %}
        <p class="github centered nm"><a class="button image fixed100 ml" href="{{page.github}}">Find it on<img src="/image/github.gif" alt="github" /></a></p>
        {% endif %}
      </section>
      
      <section class="fr">
        <h2 class="centered borderBottom pb"><a href="#"><img src="/image/project_hub.png" alt="The Nerd Hub" /></a></h2>
        {% for post in site.categories.blog limit:3%}
        <article>
          <h3><a href="{{post.url}}" class="white noline">{{ post.title }}</a></h3>
          <p class="mb">{{ post.tagline }}</p>
        </article>
        {% endfor %}
        <div class="hr"></div>
          
        <p class="centered nm"><a class="button" href="/blog/">More from the Nerd Hub</a></p>
        
      </section>
    </div>
  </section>
